@{
    ViewData["Title"] = "Home";
}
<div class="head">
    <div class="main-grid head-content" style="background-color:#fff;">
        <div class="main-block">
            <div class="main-text ">
                <h1>Главная новость</h1>
                <h4>Краткий текст новости</h4>
                <button class="btn-main">Кнопка перехода на новость</button>
            </div>
        </div>
        <div class="second-grid">
            <div class="fleft-block">
                <h1>Первая левая</h1>
            </div>
            <div class="fright-block">
                <h1>Первая правая</h1>
            </div>
            <div class="sleft-block">
                <h1>Вторая левая</h1>
            </div>
            <div class="sright-block">
                <h1>Вторая правая</h1>
            </div>

        </div>
    </div>
</div>
