
html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.offset-lg-3{
    margin-left:0%;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background: #f3f3f3;
}
.navbar{
    width:100%;
    height:60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .container{
    height: inherit;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar-menu {
    list-style-type:none;
    padding-left:0;
    margin-bottom:0;
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a{
    display: inline-block;
    color:#000000;
    text-decoration:none;
    padding: 10px;
}
.navbar-menu li a:hover{
    opacity:1;
    transition:all .20s ease-in-out;
    background: #000;
    color: #fff
}
.navbar .container{
    justify-content:center
}
.navbar .container .logo {
    padding-right:50px;
}
.navbar-wrap{
    display:flex;
    flex-flow:row nowrap;
}
header{
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 1px 1px #808080; 
}
.dropdown{
    position:relative;
    display:inline-block;
    
}
.dropdown-menu{
    background-color:#fff;
    padding:10px 20px;
    box-shadow:0 5px 10px rgba(0,0,0, .2);
    border-radius:7px;
}

.dropdown-menu li a {
    display: block;
    opacity: 0.6;
    color: #000;
    text-decoration: none;
}
.dropdown-menu li a:hover{
    background:#fff;
    color:#000000;
    transition:all .20s ease-in-out;
    opacity:1;
}
.head{
    min-height:700px;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.row{
    min-height:400px;
    display:flex;
    align-items:center;
}
.head-content{
    text-align:center;

}
.main-block {
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.main-block .img-text h2 a{ 
    display :inline-grid;
    margin:-20px;
    justify-content:center;
    text-decoration:none;
    align-content:start;
    font-size:36px;
    background:#fff;
    color:#000000;
    width:70%;
    letter-spacing:-0.03em;
    padding:0.5em 0.15em;
    font-weight:bold;
    -webkit-filter: brightness(100%);
    transition: .5s;


}
.main-block .img-text h2 a:hover{ 
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-block .text{ 
    display :inline-grid;
    margin:-20px;
    justify-content:center;
    text-decoration:none;
    align-content:start;
    color:#000000;
    padding:2.5em 11.15em;
    -webkit-filter: brightness(100%);
    font-size:18px;


}
.main-block .date{ 
    display :inline-grid;
    margin:-20px;
    justify-content:center;
    text-decoration:none;
    align-content:start;
    color:#808080;
    font-size:12px;
    padding:0.5em 1.15em;
    -webkit-filter: brightness(150%);


}
.image-block {
    height:100%;
    width:100%;

}
.fleft-block {

    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    height: 700px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content:center;
    flex-direction:column-reverse;
    flex-wrap:nowrap;
}
.fleft-block .text h4{
    color:#000000;
}
.fleft-block .btn-main{
    display :inline-block;
    padding:35px 10px 35px 10px;
    font-size:18px;
    border:none;
    background-color:#fff;
    color:#000000;
    font-size:22px;
    font-weight:bold;

}
.fleft-block .img-text h2 a{ 
    display :flex;
    align-items:flex-end;
    margin:-20px 20px;
    text-decoration:none;
    font-size:26px;
    background:#fff;
    color:#000000;
    width:75%;
    letter-spacing:-0.03em;
    padding:0.5em 0.15em;
    font-weight:bold;
    -webkit-filter: brightness(100%);
    transition: .5s;


}
.fleft-block .img-text h2 a:hover{ 
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.fleft-block .text {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #000000;
    padding: 2.5em 1.15em;
    -webkit-filter: brightness(100%);
}

.fleft-block .date {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #808080;
    font-size: 12px;
    letter-spacing: -0.03em;
    padding: 0.5em 1.15em;
    -webkit-filter: brightness(150%);
}
.fright-block {
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    height: 500px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}

.fright-block .btn-main {
    display: inline-block;
    padding: 35px 10px 35px 10px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
.fright-block .fr-text {
    display: inline-block;
    padding: 35px 10px 35px 10px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
.fright-block .img-text h2 a{ 
    display :flex;
    align-items:flex-end;
    margin:-20px 20px;
    text-decoration:none;
    font-size:26px;
    background:#fff;
    color:#000000;
    width:75%;
    letter-spacing:-0.03em;
    padding:0.5em 0.15em;
    font-weight:bold;
    -webkit-filter: brightness(100%);
    transition: .5s;


}
.fright-block .img-text h2 a:hover{ 
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.fright-block .text {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #000000;
    padding: 2.5em 1.15em;;
    -webkit-filter: brightness(100%);
}

.fright-block .date {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #808080;
    font-size: 12px;
    letter-spacing: -0.03em;
    padding: 0.5em 1.15em;
    -webkit-filter: brightness(150%);
}
.sleft-block {
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    height: 500px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content:center;
    flex-direction:column-reverse;
    flex-wrap:nowrap;
}
.sleft-block .text h4{
    color:#000000;
}
.sleft-block .btn-main{
    display :inline-block;
    padding:35px 10px 35px 10px;
    font-size:18px;
    border:none;
    background-color:#fff;
    color:#000000;
    font-size:22px;
    font-weight:bold;

}
.sleft-block .img-text h2 a {
    display: flex;
    align-items: flex-end;
    margin: -20px 20px;
    text-decoration: none;
    font-size: 26px;
    background: #fff;
    color: #000000;
    width: 75%;
    letter-spacing: -0.03em;
    padding: 0.5em 0.15em;
    font-weight: bold;
    -webkit-filter: brightness(100%);
    transition: .5s;
}

.sleft-block .img-text h2 a:hover {
        -webkit-filter: brightness(70%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
.sleft-block .text {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #000000;
    padding: 2.5em 1.15em;
    -webkit-filter: brightness(100%);
}

.sleft-block .date {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #808080;
    font-size: 12px;
    letter-spacing: -0.03em;
    padding: 0.5em 1.15em;
    -webkit-filter: brightness(150%);
}
.sright-block {
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    height: 500px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
.sright-block .btn-main {
    display: inline-block;
    padding: 35px 10px 35px 10px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
.sright-block .sr-text {
    display: inline-block;
    padding: 35px 10px 35px 10px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
.sright-block .img-text h2 a{ 
    display :flex;
    align-items:flex-end;
    margin:-20px 20px;
    text-decoration:none;
    font-size:26px;
    background:#fff;
    color:#000000;
    width:75%;
    letter-spacing:-0.03em;
    padding:0.5em 0.15em;
    font-weight:bold;
    -webkit-filter: brightness(100%);
    transition: .5s;


}
.sright-block .img-text h2 a:hover{ 
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sright-block .text {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #000000;
    padding: 2.5em 1.15em;
    -webkit-filter: brightness(100%);
}

.sright-block .date {
    display: inline-grid;
    margin: -20px;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #808080;
    font-size: 12px;
    letter-spacing: -0.03em;
    padding: 0.5em 1.15em;
    -webkit-filter: brightness(150%);
}
.main-block .main-text{
    align-items: center;
    text-align: center;
}

.main-grid {
    display: grid;
    grid-template-rows:900px 900px 900px ;
    grid-row-gap: 10px;
}
.second-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap:20px;
    grid-row-gap:10px;
}
.title {
    display: inline-grid;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #000000;
    padding: 2.5em 1.15em;
    width:500px;
    font-size:16px;
    font-weight:bold;
    -webkit-filter: brightness(100%);
}
.desc {
    display: inline-grid;
    justify-content: center;
    text-decoration: none;
    align-content: start;
    color: #000000;
    margin:-100px 0 0 0;
    padding: 2.5em 1.15em;
    width: 500px;
    font-size: 14px;
    -webkit-filter: brightness(100%);
}
.newsblock {
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 250px;
    grid-column-gap: 10px;
    margin: 30px;
    text-decoration: none;

}
.newsblock .newsImage
{
}
.newsblock .newsImage img
{
    width:400px;
    height:250px;
}
.newsOther {
    display: grid;
    grid-template-rows: 75px 100px;
    text-decoration: none;
}
.newsOther .newsTitle{
    font-size: 16px;
    -webkit-filter: brightness(100%);
    font-weight:bold;
    text-decoration:none;
    color:#000000;
}
.newsOther .newsDesc{
    font-size: 14px;
    -webkit-filter: brightness(100%);
}
.dr_list {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-column-gap: 20px;
    grid-row-gap:20px;
    margin: 30px;
    text-decoration: none;
    justify-content:space-around;
}
.dr_list  a {
    text-decoration: none;
    color:#000;
    font-size:20px;
    -webkit-filter: brightness(100%);
    transition: .5s;
}
.dr_list a:hover{
     -webkit-filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dr_list a .dr_list-profile  {
    text-align:center;
    text-decoration: none;
    background-color:#fff;
}
.dr_list a .dr_list-profile .dr_list-profile-name  {
    text-align:center;
    justify-content: center;
    text-decoration: none;

}
.dr_list a .dr_list-profile img {
    text-decoration:none;
    width:40%;
    height:40%;
}
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;

}
.table tbody td a{
	text-decoration:none;
    color:#000000

}

.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}